@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-Medium.woff2") format('woff-2'), url("/assets/fonts/Gilroy-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-Regular.woff2") format('woff-2'), url("/assets/fonts/Gilroy-Regular.woff") format('woff') ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-Bold.woff2") format('woff-2'), url("/assets/fonts/Gilroy-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

/*------------Global------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body  {
  font-family: 'Gilroy';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
}

p {
  margin: 0;
}

:root {
  --background-color: #fff;
  --second-background-color: #f6f6f6;
  --text-color: #000;
  --second-text-color: #828282;
}

/*.main-header__language-switcher {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}*/

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 15px;

}

/*-------------header------------*/

.main-header  {
  margin-bottom: 104px;
}

.main-header__nav {
  margin-bottom: 39.69px;
  padding: 33px 0;
  border-bottom: 1px solid var(--second-text-color);
}

.main-header__item  {
  margin: 0;

}

.main-header__item:not(:last-child) {
  margin-right: 120px;
}

.main-header__link  {
  display: block;
  padding: 5px auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.28px;
  color: var(--second-text-color);
  border-bottom: 2px solid var(--background-color);
  transition-property: color, border-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
}

.main-header__link:focus {
  color: var(--text-color);
  outline: none;
}

.main-header__link:hover  {
  color: var(--text-color);
  border-color: var(--text-color);
}

.main-header__link:active {
  color: var(--text-color);
  border-color: var(--background-color);
}

.main-header__content {
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 47.34px;
  font-weight: 700;
  line-height: 58.61px;
}

.main-header__descr {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.3px;
}

.main-header__language-switcher {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.main-header__language-link {
    color: var(--text-color);
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
}

.main-header__language-link:focus {
  outline: none;
  color: var(--second-text-color);
}

.main-header__language-link:hover {
  color: var(--second-text-color);
}

.main-header__language-link:active  {
  color: var(--second-text-color);
}



/*-------------section-about------------*/

.section-about  {
  margin-bottom: 91px;
  padding-top: 120px;
  padding-bottom: 107px;
  background-color: var(--second-background-color);
}

.section-title  {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
}

.section-about__content {
  width: 485px;
  margin: 0 auto;
  text-align: center;
}

.section-about__title {
  margin-bottom: 17.6px;
}

.section-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.8px;
  color: var(--text-color);
}

.section-about__text:not(:last-child) {
  margin-bottom: 60px;
}



